
{%
  set classes = [
    'field',
    'field--name-' ~ field_name|clean_class,
    'field--type-' ~ field_type|clean_class,
    'field--label-' ~ label_display,
  ]
%}
{%
  set title_classes = [
    'field__label',
    label_display == 'inline' ? 'inline',
  ]
%}
<div{{ attributes.addClass(classes) }}>
  {% if not label_hidden %}
    <div class="font-weight-bold">{{ label }}</div>
  {% endif %}


 
 <a class="usa-button" href="{{ file_url(content.field_form_upload|field_target_entity.uri.value) }}">Open Form</a>

</div>
