
{%
  set classes = [
    'field',
    'field--name-' ~ field_name|clean_class,
    'field--type-' ~ field_type|clean_class,
    'field--label-' ~ label_display,
  ]
%}
{%
  set title_classes = [
    'field__label',
    label_display == 'inline' ? 'inline',
  ]
%}
<div{{ attributes.addClass(classes) }}>
  {% if not label_hidden %}
    <div class="font-weight-bold">{{ label }}</div>
  {% endif %}

  {% for item in items %}
    <div id="form-href-source" style="display:none" aria-hidden="true">{{ item.content }}</div>
    <a id="form-href-link" href="" class="usa-button">Open Form</a>
    <div>Twig Tweak result: {{ item.content|render|file_uri }}</div>
  {% endfor %}


</div>
