


<div class="usa-alert usa-alert-normalizer usa-alert--error">
    <div class="usa-alert__body">
        <p class="usa-alert__heading">This Form has been Rescinded</p>
        <p class="usa-alert__text">Rescission Date:
        {% for item in items %}
           {{ item.content }}
        {% endfor %}
        </p>
    </div>
</div>

