
{%
  set classes = [
    'field',
    'field--name-' ~ field_name|clean_class,
    'field--type-' ~ field_type|clean_class,
    'field--label-' ~ label_display,
    'clearfix',
    'card',
    'mt-2',
  ]
%}
{%
  set title_classes = [
    'field__label',
    label_display == 'inline' ? 'inline',
  ]
%}
<div{{ attributes.addClass(classes) }}>
  {% if not label_hidden %}
    <div class="card-header m-0 font-weight-bold">{{ label }}</div>
  {% endif %}
  <div class="card-body py-1">
    {% for item in items %}
      <p{{ item.attributes }}>{{ item.content }}</p>
    {% endfor %}
  </div>
</div>
