# Ignore binaries.
/bin

/drush

# Ignore non-custom parts of Drupal.
/docroot/core
/docroot/libraries
/docroot/modules/contrib
/docroot/profiles/contrib
/docroot/themes/contrib
/docroot/sites/default/files
/docroot/*
!/docroot/modules
!/docroot/modules/custom
!/docroot/modules/custom/*

.idea
acquia-pipelines.yml
# Ignore Composer-managed dependencies.
vendor/
