# Ignore binaries.
/bin

/drush

# Ignore non-custom parts of Drupal.
/docroot/core
/docroot/libraries
/docroot/modules/contrib
/docroot/profiles/contrib
/docroot/themes/contrib
/docroot/sites/default/files
/docroot/modules/contrib/*
/docroot/core
/docroot/libraries/*
/docroot/sites/*

# IDE artifacts.
.idea*
.vscode*

acquia-pipelines.yml
# Ignore Composer-managed dependencies.
vendor/

saml/

docroot/web.config
ordatwork.code-workspace
ord-at-work.code-workspace
