* {
    min-height: 0;
    min-width: 0;
}

h2, h3, h4, h5, h6, a {
    color: #1b1b1b;
    text-decoration: none;
}

.grid-container {
    max-width: 76rem;

}


.node-staff-member .field-name-field-staff-photo, .view-staff-directory .staff-photo .image-style-staff-member-card,
.staff-photo {
    padding: 2px;
    border: 2px solid #DDD;
    background: #EEE;
    overflow: hidden;
    float: right;
    margin-right: 10px;
    width: 100px;
    height: 150px;
}

.layout--twocol-section .layout__region {
    padding: 5px;
}

.layout--onecol-section .layout__region {
    padding: 5px;
}

.align-left {
    padding-right: 10px;
}

.align-right {
    padding-left: 10px;
}

.card ul {
    margin-top: 0;
}

.card-body {
    padding: .5rem;
}

.card-body p {
    margin: 0;
}

.field__label {
    font-weight: bold;
}

.field--label-inline .field__label,
.field--label-inline .field__items {
    float: left; /* LTR */
}

.field--label-inline .field__label,
.field--label-inline > .field__item,
.field--label-inline .field__items {
    padding-right: 0.5em;
}

[dir="rtl"] .field--label-inline .field__label,
[dir="rtl"] .field--label-inline .field__items {
    padding-right: 0;
    padding-left: 0.5em;
}

.field--label-inline .field__label::after {
    content: ":";
}

.media--view-mode-media-block {
    float: left;
}


.layout {
    margin-top: 15px;
    margin-bottom: 15px;
}

.max-image-div img {
    max-width: 500px;
    margin: auto;
}

/* remove display block so that label is inline with form element */
.usa-label {
    display: inline-block;
    line-height: 1.12707;
    margin-top: 1.5rem;
    max-width: 30rem;
}


.media-library-content img {
    padding: 0.25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    max-width: 100%;
    height: auto;
}