article.align-center {
  display: table;
  min-width: unset !important;
}

article.align-right {
  display: table;
  margin-left: auto;
  min-width: unset !important;
}

article.align-left {
  display: table;
  margin-right: auto;
  min-width: unset !important;
}
