.tippy-box {
  font-size: 0.9em;
}

/***Change tooltip box***/
.tippy-box[data-theme~='light-border'] {
  background-color: white;
  color: black;
  border: 1px solid #ccc;
  font-size: 14px;
  padding: 8px;
  max-width: 250px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}